@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
    src: url(https://fonts.gstatic.com/s/opensans/v28/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsiH0B4gaVc.ttf) format('truetype');
  }
  @font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/pacifico/v21/FwZY7-Qmy14u9lezJ-6H6Mw.ttf) format('truetype');
  }
  .flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  * {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
  a,
  a:visited,
  a:hover,
  a:active {
    color: inherit;
    text-decoration: none;
  }
  .outer-menu {
    position: fixed;
    top: 10vh;
    left: 0;
    z-index: 1;
  }
  .outer-menu .checkbox-toggle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 60px;
    height: 60px;
    opacity: 0;
  }
  .outer-menu .checkbox-toggle:checked + .hamburger > div {
    transform: rotate(135deg);
  }
  .outer-menu .checkbox-toggle:checked + .hamburger > div:before,
  .outer-menu .checkbox-toggle:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }
  .outer-menu .checkbox-toggle:checked + .hamburger > div:after {
    opacity: 0;
  }
  .outer-menu .checkbox-toggle:checked ~ .menu {
    pointer-events: auto;
    visibility: visible;
  }
  .outer-menu .checkbox-toggle:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.75s;
  }
  .outer-menu .checkbox-toggle:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
  }
  .outer-menu .checkbox-toggle:hover + .hamburger {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .outer-menu .checkbox-toggle:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }
  .outer-menu .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 0.5em 1em;
    background: orange;
    border-radius: 0 0.12em 0.12em 0;
    cursor: pointer;
    transition: box-shadow 0.4s ease;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .outer-menu .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #FEFEFE;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .outer-menu .hamburger > div:before,
  .outer-menu .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: inherit;
    transition: all 0.4s ease;
  }
  .outer-menu .hamburger > div:after {
    top: 10px;
  }
  .outer-menu .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    outline: 1px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .outer-menu .menu > div {
    width: 200vw;
    height: 200vw;
    color: #FEFEFE;
    background: rgb(185, 122, 4);
    border-radius: 50%;
    transition: all 0.4s ease;
    flex: none;
    transform: scale(0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .outer-menu .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
    overflow-y: auto;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .outer-menu .menu > div > div > ul {
    list-style: none;
    padding: 0 1em;
    margin: 0;
    display: block;
    max-height: 100vh;
  }
  .outer-menu .menu > div > div > ul > li {
    padding: 0;
    margin: 1em;
    font-size: 24px;
    display: block;
  }
  .outer-menu .menu > div > div > ul > li > a {
    position: relative;
    display: inline;
    cursor: pointer;
    transition: color 6.0s ease;
  }
  .outer-menu .menu > div > div > ul > li > a:hover {
    color: #e5e5e5;
  }
  .outer-menu .menu > div > div > ul > li > a:hover:after {
    width: 100%;
  }
  .outer-menu .menu > div > div > ul > li > a:after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: -0.15em;
    left: 0;
    width: 0;
    height: 2px;
    background: #e5e5e5;
    transition: width 9.4s ease;
  }
body {
  font-family: 'Ubuntu', sans-serif;
  background-color: purple;
}  
.bgC {
    border: 1px solid black;
    width: 100%;
    height: 100%;
    font-family: 'Ubuntu', sans-serif;
     
}
.gradient {
    width: 100%;
    height: 100vh;
    background-color: purple;
    background-image: linear-gradient(purple, black);
    font-family: 'Ubuntu', sans-serif;
}
@media screen {
  .bgC, .box, .top, .left, .right, .gradient, .mid, .img-circular {
    width: 100%;
  }
}
.top {
    
    height: 10%;
    width: 100%;
}
.box {
    
    width: 100%;
    height: 50vh;
    display: flex;
}
.left {
    
    height: 50vh;
    width: 20%;
}
.mid {
    
    height: 60vh;
    width: 50%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}
.intro {
  max-width: 100%;
  max-height: 50vh;
}
.img-circular {
  max-width: 300px;
  max-height: 45vh;
  background-image: url(https://drive.google.com/thumbnail?id=1U5hDPKPpo66XJYxpV1K0ofjz1I63AOt_);
  background-size: cover;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  text-align: center;
  
  margin-top: 2.5vh;
  justify-content: center;
}
p {
  font-family: Monaco;
  color: #FEFEFE;
  font-size: 1.95rem;
    margin: 0;
    letter-spacing: 2px;
    margin-top: 2vh;
    text-align: left;
}
h1 {
  font-family: Monaco;
  color: #FEFEFE;
  font-size: 1.95rem;
    margin: 0;
    letter-spacing: 2px;
    
    text-align: left;
}
.right {
    
    height: 50vh;
    width: 20%;
    float: left;
}
.about {
  height: 80vh;
  width: 100%;
  text-align: center;
  font-family: fantasy;
}
#gradient1 {
  width: 100%;
    height: 100%;
    background-color: purple;
    background-image: linear-gradient(black, purple);
    font-family: fantasy;
}
.title {
  min-height: 10vh;
  width: 50%;
  float: left;
  padding-left: 10%;
  margin: 1em 0;
  font-size: 1.35rem;
  position: relative;
  color: white;
  font-family: fantasy;
}
h2 {
  font-family: Monaco;
  color: #FEFEFE;
  font-size: 6vh;
  text-align: left;
    letter-spacing: 2px;
}
.title::after,
.about-me h3::before, 
.about-me h3::after {
    content: "";
    display: block;
    position: relative;
    min-height: 1px;
    background-color: rgb(59, 89, 141);
}

.title::after {
    width: 30vw;
    left: 11.075rem;
    top: -1.5375rem;
}
.aboutText {
  min-height: 40vh;
  width: 80%;
  float: left;
  padding-left: 10%;

}
#pText {
  font-size: 1.1rem;
  text-align: left;
}
.skills {
  min-height: 50vh;
  width: 70%;
  margin-left: 10%;
  
  float: left;
}
#gradient2 {
  width: 100%;
    height: 100%;
    background-color: purple;
    background-image: linear-gradient(purple, black);
    font-family: fantasy;
}
h3 {
  font-size: 1.5rem;
  font-family: Monaco;
  color: #FEFEFE;
  text-align: left;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 5vh;
}
h3::before,
h3::after {
    margin: 0 auto;
    width: 80%;
    max-width: 300px;
}

h3::before {
    margin-bottom: 0.75em;
}

h3::after {
    margin-top: 0.75em;
}

.imgSkill1 {
  
  margin-right: 5%;
  width: 30%;
  float: left;
  height: 30vh;
}
.imgSkill2 {
  
  margin-right: 5%;
  width: 30%;
  float: left;
  height: 30vh;
}
.imgSkill3 {
  
  width: 30%;
  float: left;
  height: 30vh;
}
.skill-img {
  width: 7.5em;
  height: 6em;
  margin-left: 1%;
}

.skill-name {
  margin: 0.2em auto 0;
  font-size: var(--ds-txt);
  letter-spacing: 2px;
  opacity: 0.8;
  text-align: center;
}